.jimrobain {
    background-color: black;
    overflow-x: hidden;
    font-family: 'Chakra Petch', sans-serif;
    touch-action: pan-x pan-y;
}

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

a {
    color: whitesmoke!important;
    font-size: 1.5vw;
}


/* เปลี่ยนสีFont */

* {
    color: rgb(255, 255, 255);
}

.container-fluid {
    background-color: black;
    position: relative;
}

#varY {
    font-size: 3em;
    position: fixed;
    top: 0;
    left: 0;
    background: #fffc;
    z-index: 4;
}


/* respondsive */

@media (min-width: 0px) {
    .fontfood {
        font-size: 4vw;
    }
    .motor1-text1 {
        display: none;
    }
    .motor2-text2 {
        display: inline;
    }
    .motor-text1 {
        display: none;
    }
    .motor-text2 {
        display: none;
    }
    .motor-text3 {
        display: none;
    }
    .motor-text4 {
        display: grid;
    }
    #plusbtn4 {
        top: 1vh;
        right: 2vw;
    }
    #plusbtn3 {
        top: 2vw;
        right: 18vw;
    }
    #plusbtn2 {
        top: 2vh;
        right: 15vw;
    }
    #plusbtn1 {
        top: 3.5vh;
        right: 7vw;
    }
    .picplus {
        width: 30px;
    }
    body {
        overflow-x: hidden!important;
    }
    .logo {
        margin-top: 6vw;
    }
    .logoimg {
        width: 15vh;
        left: 10vh;
    }
    .big-receipt {
        height: 240vh;
        /* background-color: blue; */
    }
    .receipt {
        height: 100vh;
        top: 5vh;
    }
    #condi-1 {
        top: 40vh;
    }
    #condi-2 {
        top: 80vh;
    }
    #condi-3 {
        top: 120vh;
    }
    .fullwidth {
        width: 80vw;
    }
    .yentafo {
        position: absolute;
        top: 25px;
        right: 18vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 30px;
        right: 6vw;
        width: 24vw;
    }
    .rice {
        position: absolute;
        top: 60px;
        right: 7vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 60vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #textinfo_r_1 {
        font-size: 4vw;
    }
    #widht_plastic {
        height: 20px;
        width: auto;
    }
    #RC-1 {
        display: none;
        margin-top: 80%;
    }
}


/* respondsive */

@media (min-width: 375px) {
    .fontfood {
        font-size: 4vw;
    }
    .motor1-text1 {
        display: none;
    }
    .motor2-text2 {
        display: inline;
    }
    .motor-text1 {
        display: none;
    }
    .motor-text2 {
        display: none;
    }
    .motor-text3 {
        display: grid;
    }
    .motor-text4 {
        display: none;
    }
    #plusbtn4 {
        top: 1vh;
        right: 2vw;
    }
    #plusbtn3 {
        top: 2vw;
        right: 4vw;
    }
    #plusbtn2 {
        top: 2vh;
        right: 15vw;
    }
    #plusbtn1 {
        top: 3.5vh;
        right: 10vw;
    }
    .picplus {
        width: 35px;
    }
    body {
        overflow-x: hidden!important;
    }
    .logo {
        margin-top: 6vw;
    }
    .logoimg {
        width: 15vh;
        left: 10vh;
    }
    .big-receipt {
        height: 280vh;
        /* background-color: blue; */
    }
    .receipt {
        height: 120vh;
        top: 5vh;
    }
    #condi-1 {
        top: 50vh;
    }
    #condi-2 {
        top: 100vh;
    }
    #condi-3 {
        top: 150vh;
    }
    .fullwidth {
        width: 80vw;
    }
    .bag {
        width: 65vw;
        transition: all 0.5s;
        left: 25vw;
        z-index: 2;
    }
    .yentafo {
        position: absolute;
        top: 25px;
        right: 17vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 30px;
        right: 3vw;
        width: 25vw;
    }
    .rice {
        position: absolute;
        top: 65px;
        right: 12vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 60vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #textinfo_r_1 {
        font-size: 4vw;
    }
    #widht_plastic {
        height: 35px;
        width: auto;
    }
    #condi-but {
        top: 1vh;
        left: 1vh;
    }
    #RC-1 {
        display: none;
        margin-top: 80%;
    }
}


/* @media (max-width: 375px) {
    body {
        overflow-x: hidden!important;
    }
    .logo {
        margin-top: 6vw;
    }
    .logoimg {
        width: 15vh;
        left: 10vh;
    }
    .receipt {
        margin-top: 20vh;
        top: 5vh;
    }
    #condi-1 {
        top: 70vw;
    }
    #condi-2 {
        top: 200vw;
    }
    #condi-3 {
        top: 330vw;
    }
    .fullwidth {
        width: 350px;
    }
    .bagwidth {
        width: 60vw;
    }
    .kapuwidth {
        width: 30vw;
    }
    .yentafowidth {
        width: 30vw;
    }
    .riecewidth {
        width: 10vw;
    }
    .yentafo {
        position: absolute;
        top: 25px;
        right: 20vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 30px;
        right: -30vw;
        width: 40vw;
    }
    .rice {
        position: absolute;
        top: 18vw;
        right: 5vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 60vh;
        /* background-color: rgb(0, 26, 255); */


/* }
    #textinfo_r_1 {
        font-size: 4vw;
    }
    #widht_plastic {
        width: 70px;
    }
} */

@media (min-width: 576px) {
    .fontfood {
        font-size: 3vw;
    }
    .motor1-text1 {
        display: inline;
    }
    .motor2-text2 {
        display: none;
    }
    .motor-text1 {
        display: none;
    }
    .motor-text2 {
        display: none;
    }
    .motor-text3 {
        display: grid;
    }
    .motor-text4 {
        display: none;
    }
    #plusbtn4 {
        top: 0.6vh;
        right: 2vw;
    }
    #plusbtn2 {
        top: 3vh;
        right: 8vw;
    }
    #plusbtn1 {
        top: 3.5vh;
        right: 7vw;
    }
    .picplus {
        width: 30px;
    }
    body {
        overflow-x: hidden!important;
    }
    .logo {
        margin-top: 6vw;
    }
    .logoimg {
        width: 30vh;
    }
    .big-receipt {
        height: 300vh;
        /* background-color: blue; */
    }
    .receipt {
        top: 5vh;
        height: 120vh;
    }
    #condi-1 {
        top: 50vh;
    }
    #condi-2 {
        top: 100vh;
    }
    #condi-3 {
        top: 150vh;
    }
    .fullwidth {
        width: 400px;
    }
    .yentafo {
        position: absolute;
        top: 50px;
        right: 5vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 30px;
        right: -8vw;
        width: 28vw;
    }
    .rice {
        position: absolute;
        top: 90px;
        right: -7vw;
        width: 35vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 70vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #widht_plastic {
        height: 30px;
        width: auto;
    }
    /* จอร์ช */
    .main-but {
        font-size: 36px;
        text-align: center;
    }
    .sec-but {
        font-size: 30px;
        text-align: center;
    }
    #RC-1 {
        display: none;
        margin-top: 30%;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .fontfood {
        font-size: 3vw;
    }
    .motor1-text1 {
        display: inline;
    }
    .motor2-text2 {
        display: none;
    }
    .motor-text1 {
        display: none;
    }
    .motor-text2 {
        display: grid;
    }
    .motor-text3 {
        display: none;
    }
    .motor-text4 {
        display: none;
    }
    #plusbtn4 {
        top: 0vh;
        right: 1vw;
    }
    #plusbtn3 {
        top: 2vw;
        right: 4vw;
    }
    #plusbtn2 {
        top: 1vh;
        right: 6vw;
    }
    #plusbtn1 {
        top: 4vh;
        right: 5vw;
    }
    .picplus {
        width: 40px;
    }
    .logo {
        margin-top: 2vw;
    }
    .logoimg {
        width: 30vh;
    }
    .big-receipt {
        height: 260vh;
        /* background-color: blue; */
    }
    .receipt {
        height: 110vh;
        top: 5vh;
    }
    #condi-1 {
        top: 40vh;
    }
    #condi-2 {
        top: 80vh;
    }
    #condi-3 {
        top: 120vh;
    }
    .fullwidth {
        width: 400px;
    }
    .yentafo {
        position: absolute;
        top: 5vw;
        right: 1vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 50px;
        right: -12vw;
        width: 25vw;
        /* object-fit: none;
                    object-position: 100% 0; */
    }
    .rice {
        position: absolute;
        top: 15vw;
        right: -8vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 90vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #widht_plastic {
        height: 35px;
        width: auto;
    }
    #RC-1 {
        display: none;
        margin-top: 30%;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .fontfood {
        font-size: 3vw;
    }
    .motor1-text1 {
        display: inline;
    }
    .motor2-text2 {
        display: none;
    }
    .motor-text1 {
        display: none;
    }
    .motor-text2 {
        display: grid;
    }
    .motor-text3 {
        display: none;
    }
    .motor-text4 {
        display: none;
    }
    #plusbtn4 {
        top: 0vh;
        right: 1vw;
    }
    #plusbtn3 {
        top: 2vw;
        right: 4vw;
    }
    #plusbtn2 {
        top: 1vh;
        right: 5vw;
    }
    #plusbtn1 {
        top: 3.5vh;
        right: 5vw;
    }
    .picplus {
        width: 40px;
    }
    .logo {
        margin-top: 2vw;
    }
    .logoimg {
        width: 30vh;
    }
    .big-receipt {
        height: 220vh;
        /* background-color: blue; */
    }
    .receipt {
        height: 100vh;
        top: 5vh;
    }
    #condi-1 {
        top: 35vh;
    }
    #condi-2 {
        top: 70vh;
    }
    #condi-3 {
        top: 105vh;
    }
    .fullwidth {
        width: 400px;
    }
    .yentafo {
        position: absolute;
        top: 5vw;
        right: -3vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 50px;
        right: -18vw;
        width: 28vw;
        /* object-fit: none;
         object-position: 100% 0; */
    }
    .rice {
        position: absolute;
        top: 15vw;
        right: -10vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 90vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #widht_plastic {
        height: 40px;
        width: auto;
    }
    /* จอร์ช */
    .main-but {
        font-size: 36px;
        text-align: center;
    }
    .sec-but {
        font-size: 30px;
        text-align: center;
    }
    #RC-1 {
        display: none;
        margin-top: 30%;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .fontfood {
        font-size: 2vw;
    }
    .motor1-text1 {
        display: inline;
    }
    .motor2-text2 {
        display: none;
    }
    .motor-text1 {
        display: grid;
    }
    .motor-text2 {
        display: none;
    }
    .motor-text3 {
        display: none;
    }
    .motor-text4 {
        display: none;
    }
    #plusbtn4 {
        top: 0vh;
        right: 1vw;
    }
    #plusbtn3 {
        top: 2vw;
        right: 4vw;
    }
    #plusbtn2 {
        top: 2vh;
        right: 3vw;
    }
    #plusbtn1 {
        top: 5vh;
        right: 4vw;
    }
    .picplus {
        width: 40px;
    }
    .logo {
        margin-top: 2vw;
    }
    .logoimg {
        width: 30vh;
    }
    .big-receipt {
        height: 350vh;
        /* background-color: blue; */
    }
    .receipt {
        height: 150vh;
        top: 5vh;
    }
    #condi-1 {
        top: 60vh;
    }
    #condi-2 {
        top: 120vh;
    }
    #condi-3 {
        top: 180vh;
    }
    .fullwidth {
        width: 400px;
    }
    .yentafo {
        position: absolute;
        top: 5vw;
        right: -3vw;
        width: 30vw;
    }
    .kapu {
        position: absolute;
        top: 50px;
        right: -20vw;
        width: 30vw;
        /* object-fit: none;
         object-position: 100% 0; */
    }
    .rice {
        position: absolute;
        top: 15vw;
        right: -10vw;
        width: 30vw;
    }
    #bagcondi-2 {
        width: 200px;
        left: 10vw;
        height: 90vh;
        /* background-color: rgb(0, 26, 255); */
    }
    #widht_plastic {
        height: 40px;
        width: auto;
    }
    #RC-1 {
        display: none;
        margin-top: 30%;
    }
}

hr.line {
    margin-top: 3vh;
    border-top: 4px dotted black;
}

.logo {
    margin-top: 2vw;
}

.big-receipt {
    /* height: 300vh; */
    position: relative;
    /* background-color: blue; */
}

.receipt {
    position: sticky;
    position: -webkit-sticky;
    /* height: 120vh; */
    /* width: 30vw; */
    /* background-color: blanchedalmond; */
}

#condi-1 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: red; */
    position: absolute;
    z-index: 2;
}

#condi-2 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: brown; */
    position: absolute;
    z-index: 2;
}

#condi-3 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(0, 255, 21); */
    position: absolute;
    z-index: 2;
}

#RC-2 {
    display: none;
}

#RC-3 {
    display: none;
}

#RC-4 {
    display: none;
}

.modal-backdrop {
    opacity: 0.7 !important;
}

#plusbtn1 {
    position: absolute;
    background: transparent;
    border: none;
    opacity: 0;
    transition: 0.5s;
}

#plusbtn2 {
    position: absolute;
    background: transparent;
    border: none;
    transition: 0.5s;
}

#plusbtn3 {
    position: absolute;
    background: transparent;
    border: none;
    transition: 0.5s;
    z-index: 0;
}

#plusbtn4 {
    position: absolute;
    background: transparent;
    border: none;
    transition: 0.5s;
    z-index: 0;
}

#plusbtn1:hover {
    transform: scale(1.2);
}

#plusbtn2:hover {
    transform: scale(1.2);
}

#plusbtn3:hover {
    transform: scale(1.2);
}

#plusbtn4:hover {
    transform: scale(1.2);
}

.big-receipt[data-scene="1"] #RC-1 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="2"] #RC-2 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="3"] #RC-3 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="4"] #RC-4 {
    animation: baiset 0.7s;
    display: flex;
}

.big-receipt[data-scene="4"] #plusbtn1 {
    opacity: 1;
}

.bigbag {
    position: relative;
}

.bag {
    position: absolute;
    width: 50vw;
    transition: all 0.5s;
    left: 25vw;
    z-index: 2;
}

#bagglass[data-scene="1"] .bag {
    left: -80vw;
    transform: rotate(180deg);
    transition: all 0.5s;
}

.info1 {
    position: absolute;
    background-color: black;
    height: 230vw;
    width: 100%;
    /* left: 50%; */
    /* top: 400vh; */
    transition: all 0.5s;
    z-index: 3;
    display: none;
}

.info2 {
    position: absolute;
    background-color: black;
    height: 230vw;
    width: 100%;
    /* left: 120%; */
    /* top: 400vh; */
    transition: all 0.5s;
    z-index: 3;
    display: none;
}

.info3 {
    position: absolute;
    background-color: black;
    height: 230vw;
    width: 100%;
    /* left: 120%; */
    /* top: 400vh; */
    transition: all 0.5s;
    z-index: 3;
    display: none;
}

#infoimg {
    width: 40vw;
}

#infoimg2 {
    width: 20vw;
}

#infoimg3 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimg4 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimg5 {
    width: 18vw;
    margin-top: 3vw;
}

#infoimg6 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimg7 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimg8 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimg9 {
    width: 12vw;
    margin-top: 3vw;
}

#textinfo_r_1 {
    position: absolute;
    top: 20vw;
    font-size: 2vw;
}

#textinfo_r_2 {
    position: absolute;
    top: 50vw;
    font-size: 2vw;
}

#textinfo_r_3 {
    position: absolute;
    top: 76vw;
}

#textinfo_r_4 {
    position: absolute;
    top: 98vw;
}

#textinfo_r_5 {
    position: absolute;
    top: 127vw;
}

#textinfo_r_6 {
    position: absolute;
    top: 154vw;
}

#textinfo_r_7 {
    position: absolute;
    top: 176vw;
}

#textinfo_r_8 {
    position: absolute;
    top: 198vw;
}

#textinfo_r_9 {
    position: absolute;
    top: 213vw;
}


/*  */

#infoimgy {
    width: 40vw;
}

#infoimgy2 {
    width: 20vw;
}

#infoimgy3 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgy4 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgy5 {
    width: 18vw;
    margin-top: 3vw;
}

#infoimgy6 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgy7 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgy8 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgy9 {
    width: 12vw;
    margin-top: 3vw;
}

#textinfo_y_1 {
    position: absolute;
    top: 20vw;
    font-size: 2vw;
}

#textinfo_y_2 {
    position: absolute;
    top: 55vw;
}

#textinfo_y_3 {
    position: absolute;
    top: 82vw;
}

#textinfo_y_4 {
    position: absolute;
    top: 110vw;
}

#textinfo_y_5 {
    position: absolute;
    top: 135vw;
}

#textinfo_y_6 {
    position: absolute;
    top: 165vw;
}

#textinfo_y_7 {
    position: absolute;
    top: 188vw;
}

#textinfo_y_8 {
    position: absolute;
    top: 210vw;
}

#textinfo_y_9 {
    position: absolute;
    top: 230vw;
}


/*  */


/*  */

#infoimgk {
    width: 40vw;
}

#infoimgk2 {
    width: 20vw;
}

#infoimgk3 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgk4 {
    width: 20vw;
    margin-top: 3vw;
}

#infoimgk5 {
    width: 18vw;
    margin-top: 3vw;
}

#infoimgk6 {
    width: 15vw;
    margin-top: 3vw;
}

#infoimgyk7 {
    width: 15vw;
    margin-top: 3vw;
}

#textinfo_k_1 {
    position: absolute;
    top: 20vw;
    font-size: 2vw;
}

#textinfo_k_2 {
    position: absolute;
    top: 62vw;
}

#textinfo_k_3 {
    position: absolute;
    top: 106vw;
}

#textinfo_k_4 {
    position: absolute;
    top: 135vw;
}

#textinfo_k_5 {
    position: absolute;
    top: 165vw;
}

#textinfo_k_6 {
    position: absolute;
    top: 187vw;
}

#textinfo_k_7 {
    position: absolute;
    top: 208vw;
}


/*  */

#back_but_R {
    margin-top: 2vh;
    width: 3vw;
}

.menufood {
    padding: 0%;
}

.menufood[data-show="kapu"] .detail_kapu {
    left: 0%;
}

.menufood[data-show="yentafo"] .detail_yentafo {
    left: 0%;
}

.menufood[data-show="ricechicken"] .info1 {
    display: grid;
    animation: showw .3s;
    /* left: 0%; */
}

.menufood[data-show="yentafo"] .info2 {
    display: grid;
    animation: showw .3s;
    /* left: 0%; */
}

.menufood[data-show="kapu"] .info3 {
    display: grid;
    animation: showw .3s;
    /* left: 0%; */
}

.menufood[data-show="start1"] .info1 {
    animation: showback .3s;
    animation-fill-mode: forwards;
    /* display: grid; */
    /* left: 0%; */
}

.menufood[data-show="start1"] .info2 {
    animation: showback .3s;
    animation-fill-mode: forwards;
    /* display: grid; */
    /* left: 0%; */
}

.menufood[data-show="start1"] .info3 {
    animation: showback .3s;
    animation-fill-mode: forwards;
    /* display: grid; */
    /* left: 0%; */
}

@keyframes showw {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes showback {
    0% {
        display: grid;
        transform: translateX(0%);
    }
    99% {
        display: grid;
        transform: translateX(100%);
    }
    100% {
        animation: poof 0.1s linear 0s 1;
        -webkit-animation: poof 0.1s linear 0s 1;
    }
}

@-webkit-keyframes poof {
    from {
        display: grid;
    }
    to {
        display: none;
    }
}

@keyframes poof {
    from {
        display: grid;
    }
    to {
        visibility: hidden;
        display: none;
    }
}

.size_img_food {
    width: 30vw;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.sizetextinfo {
    font-size: 2vw;
}

#receipt_again {
    width: 400px;
}

.big_plastic {
    height: 300vh;
    /* background-color: blue; */
    position: relative;
}

.plastic {
    height: 100vh;
    /* background-color: brown; */
    z-index: 2;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
}

.psall[data-scene="0"] #ps-1 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-2 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-3 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="0"] #ps-7 {
    opacity: 0;
}


/* กัน */

.psall[data-scene="1"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="1"] #ps-2 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-3 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="1"] #ps-8 {
    display: none;
}

.psall[data-scene="1"] #ps-4-1 {
    display: none;
}

.psall[data-scene="1"] #ps-5-1 {
    display: none;
}

.psall[data-scene="1"] #ps-6-1 {
    display: none;
}

.psall[data-scene="1"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="2"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="2"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="2"] #ps-3 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="2"] #ps-8 {
    display: none;
}

.psall[data-scene="2"] #ps-4-1 {
    display: none;
}

.psall[data-scene="2"] #ps-5-1 {
    display: none;
}

.psall[data-scene="2"] #ps-6-1 {
    display: none;
}

.psall[data-scene="2"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="3"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="3"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="3"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="3"] #ps-4 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="3"] #ps-8 {
    display: none;
}

.psall[data-scene="3"] #ps-4-1 {
    display: none;
}

.psall[data-scene="3"] #ps-5-1 {
    display: none;
}

.psall[data-scene="3"] #ps-6-1 {
    display: none;
}

.psall[data-scene="3"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="4"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="4"] #ps-5 {
    opacity: 0;
}

.psall[data-scene="4"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="4"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="4"] #ps-8 {
    display: none;
}

.psall[data-scene="4"] #ps-4-1 {
    display: none;
}

.psall[data-scene="4"] #ps-5-1 {
    display: none;
}

.psall[data-scene="4"] #ps-6-1 {
    display: none;
}

.psall[data-scene="4"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="5"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-5 {
    opacity: 1;
}

.psall[data-scene="5"] #ps-6 {
    opacity: 0;
}

.psall[data-scene="5"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="5"] #ps-8 {
    display: none;
}

.psall[data-scene="5"] #ps-4-1 {
    display: none;
}

.psall[data-scene="5"] #ps-5-1 {
    display: none;
}

.psall[data-scene="5"] #ps-6-1 {
    display: none;
}

.psall[data-scene="5"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="6"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-5 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-6 {
    opacity: 1;
}

.psall[data-scene="6"] #ps-7 {
    opacity: 0;
}

.psall[data-scene="6"] #ps-8 {
    display: none;
}

.psall[data-scene="6"] #ps-4-1 {
    display: none;
}

.psall[data-scene="6"] #ps-5-1 {
    display: none;
}

.psall[data-scene="6"] #ps-6-1 {
    display: none;
}

.psall[data-scene="6"] #ps-7-1 {
    display: none;
}


/* กัน */

.psall[data-scene="7"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-4 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-5 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-6 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-7 {
    opacity: 1;
}

.psall[data-scene="7"] #ps-8 {
    display: none;
}

.psall[data-scene="7"] #ps-4-1 {
    display: none;
}

.psall[data-scene="7"] #ps-5-1 {
    display: none;
}

.psall[data-scene="7"] #ps-6-1 {
    display: none;
}

.psall[data-scene="7"] #ps-7-1 {
    display: none;
}


/*  */

.psall[data-scene="8"] #ps-1 {
    opacity: 1;
}

.psall[data-scene="8"] #ps-2 {
    opacity: 1;
}

.psall[data-scene="8"] #ps-3 {
    opacity: 1;
}

.psall[data-scene="8"] #ps-4 {
    display: none;
}

.psall[data-scene="8"] #ps-5 {
    display: none;
}

.psall[data-scene="8"] #ps-6 {
    display: none;
}

.psall[data-scene="8"] #ps-7 {
    display: none;
}

.psall[data-scene="8"] #ps-8 {
    display: flex;
}

.psall[data-scene="8"] #ps-4-1 {
    display: flex;
}

.psall[data-scene="8"] #ps-5-1 {
    display: flex;
}

.psall[data-scene="8"] #ps-6-1 {
    display: flex;
}

.psall[data-scene="8"] #ps-7-1 {
    display: flex;
}

#condip_1 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(0, 255, 21); */
    position: absolute;
    z-index: 3;
    top: 30vh;
}

#condip-2 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 196, 0); */
    position: absolute;
    z-index: 3;
    top: 60vh;
}

#condip-3 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 232, 155); */
    position: absolute;
    z-index: 3;
    top: 90vh;
}

#condip-4 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(155, 218, 255); */
    position: absolute;
    z-index: 3;
    top: 120vh;
}

#condip-5 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 0, 0); */
    position: absolute;
    z-index: 3;
    top: 150vh;
}

#condip-6 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(90, 6, 45); */
    position: absolute;
    z-index: 3;
    top: 180vh;
}

#condip-7 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(178, 61, 255); */
    position: absolute;
    z-index: 3;
    top: 210vh;
}

#condip-8 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 240vh;
}

#condip-9 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 270vh;
}

#condip-10 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 300vh;
}

#condip-11 {
    width: 5vh;
    left: 200px;
    height: 5vh;
    /* background-color: rgb(255, 174, 0); */
    position: absolute;
    z-index: 3;
    top: 330vh;
}


/* .foodinfo{} */

.isyentafo {
    overflow-y: hidden;
}


/* จอร์ชช */

.rpbg[data-scene="0"] #but {
    transition: 0.7s;
    display: flex;
    opacity: 0;
}

.rpbg[data-scene="1"] #but {
    transition: 0.7s;
    display: flex;
    opacity: 1;
}

#condi-but {
    width: 60px;
    height: 60px;
    top: 80vh;
    left: 20vh;
    /* background-color: red; */
    position: absolute;
}

.rpbg[data-scene="0"] #but {
    transition: 0.7s;
    display: flex;
    opacity: 0;
}

.rpbg[data-scene="1"] #but {
    transition: 0.7s;
    display: flex;
    opacity: 1;
}

.rpbg {
    width: 100%;
    height: 100%;
    background-image: url("IMG/image-from-rawpixel-id-2319444-jpeg 2.png");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.content-but {
    font-weight: 700;
    position: absolute;
    opacity: 0;
    text-shadow: 3px 3px 10px white;
}

.jimrobain[data-show="1"] .hide {
    display: flex;
}

.jimrobain[data-show="0"] .hide {
    display: none;
}